// COLOR VARIABLES
$col-black: black;
$col-white: white;
$col-hot-pink: hotpink;
$col-hot-pink-darker: darken(hotpink, 40%);
$col-gray-1: gray;
$col-light-gray-1: lightgray;
//LUXURY COLORS
$col-lux-1: #111f3f;
$col-lux-2: #49111c;
$col-lux-3: #f2f4f3;
$col-lux-4: #a9927d;
$col-lux-5: #5e503f;
$col-lux-5-darker: darken(#5e503f, 10%);
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;
// MIXINS
@mixin box-shadow {
  box-shadow: 0 1rem 2rem rgba($col-black, 0.5);
}
// UNIVERSAL RESET
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $col-lux-5;
  font-weight: 300;
  line-height: 1.6;
}
// THE MAIN GRID RULES
.main-grid-container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns:
    [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end]
    minmax(6rem, 1fr)
    [full-end];
}
