.homes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
  margin: 15rem 0;
}
.home {
  background-color: $col-lux-3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  gap: 2rem 0;
  justify-items: center;
  text-align: center;
  * p {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  &__image {
    width: 100%;
    grid-column: 1 / -1;
  }
  &__name {
    grid-column: 1 / -1;
    font-size: 1.6rem;
    text-align: center;
    font-family: $font-display;
    background-color: $col-lux-5;
    color: $col-white;
    padding: 0.7rem 0;
    width: 100%;
    transform: translateY(-2rem);
  }

  &__like {
    mask-image: url('../images/heart.svg');
    background-color: $col-hot-pink;
    width: 3rem;
    height: 3rem;
    grid-column: 1 / -1;
    justify-self: end;
    margin: 1rem;
    position: absolute;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      scale: 1.2;
      background-color: $col-hot-pink-darker;
    }
  }
  &__like-bg {
    background-color: $col-white;
    width: 5rem;
    height: 5rem;
    grid-row: 1;
    grid-column: 1 / -1;
    justify-self: end;
    position: absolute;
  }
  &__location {
    grid-row: 3;
    grid-column: 1;
    display: grid;
    &-pin {
      justify-self: center;
      mask-image: url('../images/pin.svg');
      background-color: $col-lux-5;
      width: 4rem;
      height: 4rem;
    }
  }
  &__area {
    grid-row: 4;
    grid-column: 1;
    display: grid;
    &-zone {
      justify-self: center;
      mask-image: url('../images/zone.svg');
      background-color: $col-lux-5;
      width: 4rem;
      height: 4rem;
    }
  }
  &__rooms {
    grid-row: 3;
    grid-column: 2;
    display: grid;
    &-key {
      justify-self: center;
      mask-image: url('../images/key.svg');
      background-color: $col-lux-5;
      width: 4rem;
      height: 4rem;
    }
  }
  &__price {
    grid-row: 4;
    grid-column: 2;
    display: grid;
    &-euro {
      justify-self: center;
      mask-image: url('../images/euro.svg');
      background-color: $col-lux-5;
      width: 4rem;
      height: 4rem;
    }
  }
  .btn {
    grid-column: 1 / span 2;
    justify-self: stretch;
  }
}
