.realtors {
  background-color: $col-lux-1;
  grid-column: col-start 7 / full-end;
  @include respond($port-md) {
    grid-column: full-start / full-end;
  }
  padding: 3vw;
  display: grid;
  align-items: center;
  justify-content: center;
  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 5vh 1rem;
    @include respond($port-md) {
      grid-template-columns: repeat(3, min-content max-content);
      gap: 2rem;
    }
  }
  &__img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    @include respond($port-md) {
    }
  }
  &__details {
    color: $col-lux-4;
    color: $col-white;
    @include respond($port-md) {
      &:not(:last-child) {
        margin-right: 5rem;
      }
    }
  }
  &__sold {
    font-size: 1.2rem;
    margin-top: -0.5rem;
    color: $col-light-gray-1;
    @include respond($port-md) {
    }
  }
  .heading-3 {
    grid-column: 1 / 3;
    justify-self: center;
    align-self: end;
    transform: translateY(3rem);
    @include respond($port-md) {
      display: none;
    }
  }
}
