.story {
  &__pictures {
    grid-column: full-start / col-end 4;
    // background-image: url('../images/house-pic.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba($col-lux-4, 0.4),
        rgba($col-lux-4, 0.4)
      ),
      url('../images/house-pic.jpg');
    background-position: 55% 55%;
    background-size: 300%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    align-items: center;
  }
  &__img--1 {
    width: 100%;
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;
    outline: 0.3rem solid white;
    @include box-shadow;
  }
  &__img--2 {
    width: 115%;
    grid-row: 4 / span 2;
    grid-column: 4 / -1;
    outline: 0.3rem solid white;
    margin-top: 5rem;
    @include box-shadow;
  }
  &__content {
    // FLEX
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;
    // GRID
    background-color: $col-lux-3;
    display: grid;
    align-content: center;
    justify-items: start;
    grid-column: col-start 5 / full-end;
    padding: 6rem 8vw;
  }
  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
