.story {
  &__pictures {
    background-color: rgb(108, 30, 210);
    grid-column: full-start / col-end 4;
    color: white;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-column: col-start 5 / full-end;
    padding: 6rem 12rem;
  }
  &__text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
